<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='sha256.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='loginpost.js') }}"></script>
</head>
<body>
  <input type="text" id="userid" name="userid">
  <input type="text" id="new_password" name="new_password">
  <input type="text" id="new_password_re" name="new_password_re">
  <input type="button" value="ログイン" onclick="post_form_newpass()">
</body>
</html>
