<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<!--<script type="text/javascript" src="{{ url_for('static', filename='jsSHA-sha256.js') }}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha256.min.js "></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sha256.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/loginpost.js') }}"></script>
</head>
<body>
  <input type="text" id="userid" name="userid">
  <input type="text" id="password" name="password">
  <input type="button" value="ログイン" onclick="postForm()">
</body>
</html>
