<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>出席管理 - login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha256.min.js "></script>
        <script type="text/javascript" src="{{ url_for('static', filename='sha256.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='loginpost.js') }}"></script>
    </head>

    <body>
    <div class="wrapper">
        <header class="header">
            <h1 class="title">出席管理</h1>
        </header>
    <div class="wrap">
        <form name="passCheck" action='/auth' method='post' onSubmit="inputpassword_to_sha256();" >
        <div class="login">
        <tr>
            <td>ユーザーID</td>
            <td><input type="text" id="userid" name="id" value="" required></td>
        </tr>
        <br>
        <tr>
            <td>パスワード</td>
            <td><input type="password" id="password_v" name="password_v" value="" required></td>
        </tr>
        <input type="text" id="password" name="password" style="visibility:hidden;"/>
        </div>
        
        <br>
        
        <div class="button">
        <tr>   
            <td><input type="submit" name="login" value="ログイン"/></td>
        </tr>
        </div>
    </form>
    </div>
    </div>
    </body>
</html>
