<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='draw_graph.js') }}"></script>
<style type="text/css">
#sidebar {
  width: 200px;
  float: left;
}
#contents {
  width: 1000px;
  float: right;
  padding: 0 15px;
}
</style>
</head>
<body>
<div>
<div id="sidebar">
    <ul class="side">
    {%for i in kamoku_data%}
    <li><a href="/kamoku/{{i.id}}?kyoin={{i.kyoin.id}}">{{i.name}}</a></li>
    {%endfor%}
    </ul>
</div>
</div>
<div id="contents">
<style type="text/css">
td{
    width:60px;
}
</style>
<table id="table" border="1">

</table>
<div>
<button id="dwnbtn" onclick="graph_download()">ダウンロード</button>
<canvas id="myChart" height=300 width=500></canvas>
<script type="text/javascript">
syusseki_list = {{syusseki_data|safe}}
console.log(syusseki_list)
let table = document.getElementById('table')
let rows=[];
for(i=0;i<syusseki_list.length;i++){
    rows.push(table.insertRow(-1));
    for(j=0;j<syusseki_list[i].length;j++){
        cell = rows[i].insertCell(-1);
        cell.appendChild(document.createTextNode(syusseki_list[i][j]));
    }
}
</script>
</div>
</div>
</body>
</html>
