
<style type="text/css">
#sidebar {
  width: 200px;
  float: left;
}
#contents {
  width: 1000px;
  float: right;
  padding: 0 15px;
}
</style>
<script type="text/javascript">
current_list = {{syusseki_data|safe}}
console.log(current_list)
</script>
<div>
<div id="sidebar">
    <ul class="side">
    {%for i in kamoku_data%}
    <li><a href="/kamoku/{{i.id}}?kyoin={{i.kyoin.id}}">{{i.name}}</a></li>
    {%endfor%}
    </ul>
</div>
</div>
<div id="contents">
<style type="text/css">
td{
    width:60px;
}
</style>
<table id="table" border="1">
{% for i in syusseki_data %}
<tr>
{% for j in i %}
<td>{{j}}</td>
{% endfor %}
</tr>
{% endfor %}

</table>
</div>

