<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>時間設定</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='time.css') }}">
    </head>

    <body>
    <div class="wrapper">
        <header class="header">
            <h1 class="title"><a href="select.html">出席管理</a></h1>
            <nav class="nav">
                <ul class="main-nav">
                    <li><a href='{{ url_for('kamoku_all') }}'>講義選択</a></li>
                    <li><a href='{{ url_for('syusseki_all',kamoku=kamoku) }}'>データ閲覧</a></li>
                    <li><a href='{{ url_for('edit.edit_get',kamoku=kamoku) }}'>時間設定</a></li>
                    <li><a href='{{ url_for('auth.logout_get') }}'>ログアウト</a></li>
                </ul>
            </nav>
        </header>

        <main>
            
            <p>{{kamoku}}</p>
            <!--時間の入力部分-->
            <form id="form" action="/edit/" method="POST" enctype="multipart/form-data">
                <input type="text" name="kamoku" value="{{kamoku}}">
                <ul class="time" >    
                <li class="time_text">出席限度時間：</li>
                <li><input type="text" name="syusseki_gendo" value="{{kisoku['syusseki_gendo']}}"></li>
                </ul>

                <ul class="time">
                <li class="time_text">遅刻限度時間：</li>
                <li><input type="text" name="tikoku_gendo" value="{{kisoku['tikoku_gendo']}}"></li>
                </ul>
                    
                <ul>
                    <input type="submit" class="btn" accesskey="enter">
                </ul> 
            </form>
        </main>

        <footer>

        </footer>
    </div>
    </body>
</html>
